<turbo-frame id="form-question">
    {{ form_start(form, {attr : {'data-turbo-frame': app.request.query.get('targetFrame', 'page-content'), 'data-turbo-action' : "advance" }}) }}
    <div class="d-flex justify-content-between">
        <div class="w-100">
            {{ form_widget(form.value, { attr : {'data-action' : 'input->search#search'}}) }}
            {{ form_errors(form.value) }}
        </div>
        {{ form_row(form.submit, {row_attr : {class: 'ms-2'}}) }}
        {% if (question.id is not empty and app.request.attributes.get('_turbo')) %}
            <a href="{{ path('question_create', {quiz: question.quiz.id}) }}"
               class="ms-2 btn btn-outline-secondary">
                Cancel
            </a>
        {% endif %}
    </div>
    {{ form_end(form) }}
</turbo-frame>
