<li
    data-search-target="item"
    class="question-list list-group-item list-group-item-action {{ active ? 'list-group-item-primary' : (item.answers.count() > 0 ? 'list-group-item-success' : '') }}">
    <div class="w-100">
        <div class="markdown-compact">
            <div class="actions float-end">
                <a href="{{ path('question_edit', {quiz: item.quiz.id, question: item.id}) }}"
                   data-turbo-frame="form-question"
                   class="text-muted text-hover-primary">
                    <i class="ri-pencil-line"></i>
                </a>
                <a href="{{ path('question_delete', {quiz: item.quiz.id, question: item.id}) }}"
                   data-turbo-confirm="Are you sure you want to delete question '{{ item.id }}'?"
                   data-turbo-method="DELETE"
                   class="text-muted text-hover-danger">
                    <i class="ri-delete-bin-2-line"></i>
                </a>
            </div>
            <a id="question-{{ item.id }}"
               href="{{ path('go_through_quiz', app.request.query | merge({quiz: item.quiz.id, question: item.id})) ~ '#question-' ~ item.id }}"
               data-turbo-action="advance"
               data-turbo-frame="form-answer">
                {{ item.value | markdown_to_html }}
            </a>
        </div>
        <small class="text-muted">{{ item.answers.count() }} answers</small>
    </div>
</li>
