{# templates/broadcast/Book.stream.html.twig #}
{% block create %}
    <turbo-stream action="append" target="answers">
        <template>
            <div id="{{ 'answer_' ~ id }}">{{ entity.value }} (#{{ entity.id }})</div>
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="update" target="answer_{{ id }}">
        <template>
            {{ entity.value }} (#{{ id }}, updated)
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="remove" target="book_{{ id }}"></turbo-stream>
{% endblock %}
