<turbo-frame id="form-answer">
    {{ form_start(form) }}
    <h5>{{ question.value | markdown_to_html }}</h5>
    {{ form_widget(form.value, {attr: {class: "mb-3", placeholder: "Your answer...", rows: 8}}) }}
    <div class="row">
        <div class="col-12">
            <div class="float-end">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="list-answers mt-4">
        {% include 'quizzes/frames/_list-answers.html.twig' with {question : currentQuestion ?? question} %}
    </div>
</turbo-frame>
